nav {
    z-index: 100;
}

nav .menu_toggle,
nav .submenu_toggle {
    opacity: 0;
    position: fixed;
    display: none;
}

nav .menu_toggle~label,
nav .submenu_toggle~label {
    position: relative;
    cursor: pointer;
}

nav .menu_toggle~label {
    left: 0;
    top: 0;
}

nav .submenu_toggle~label {
    left: 14px;
}

nav .menu_toggle:checked~label:before {
    content: '';
    background: rgba(0, 0, 0, 0.65);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: background 0.15s;
    width: 100vw;
}

nav .menu_toggle~label svg,
nav .submenu_toggle~label svg {
    transition: transform 0.15s;
}

nav .menu_toggle~label svg {
    position: fixed;
    height: 44px;
    width: 44px;
    right: 0;
    top: 0;
    z-index: 101;
}

nav .submenu_toggle~label svg {
    position: absolute;
    height: 44px;
    width: 44px;
}

nav .menu_toggle~label svg path,
nav .submenu_toggle~label svg path {
    fill: #fff;
}

nav .menu_toggle:checked~label svg:nth-of-type(1),
nav .submenu_toggle:checked~label svg:nth-of-type(1) {
    transform: scale(0);
}

nav .menu_toggle~label svg:nth-of-type(2),
nav .submenu_toggle~label svg:nth-of-type(2) {
    transform: scale(0);
}

nav .menu_toggle:checked~label svg:nth-of-type(2),
nav .submenu_toggle:checked~label svg:nth-of-type(2) {
    transform: scale(1);
}

nav .menu_toggle~ul,
nav .submenu_toggle~.scroll>ul {
    list-style-type: none;
    padding: 0;
    overflow-x: hidden;
    transition-duration: var(--delay);
}

nav .menu_toggle~ul,
nav .submenu_toggle~.scroll {
    list-style-type: none;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    transition-duration: var(--delay);
}

nav .menu_toggle~ul::-webkit-scrollbar,
nav .submenu_toggle~.scroll::-webkit-scrollbar {
    display: none;
}

nav .menu_toggle~ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
    height: 100%;
}

nav .menu_toggle~ul li>.scroll {
    max-height: 0;
    transition: max-height var(--delay) ease-out;
}

nav .menu_toggle:checked~ul {
    transform: translate(100%, 0);
}

nav .menu_toggle~ul li {
    line-height: 44px;
    min-height: 44px;
    padding: 0 0 0 8px;
    transform: translateX(-100%);
    transition-duration: var(--delay);
    --color: initial;
    --color-side: var(--color, initial);
    --color-under: var(--color, inherit);
}

nav .menu_toggle:checked~ul>li,
nav .submenu_toggle:checked~.scroll>ul>li.active {
    transform: translateX(0);
}

nav .submenu_toggle:checked~.scroll {
    max-height: var(--max-height, unset);
    transition: max-height var(--delay) ease-in;
}

nav .menu_toggle~ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 6px;
}

nav .menu_toggle~ul li:before {
    content: '';
    position: absolute;
    left: 0;
    width: 8px;
    height: 100%;
    transition-duration: inherit;
    transition-delay: 0.725s;
    background-color: var(--color-side);
    z-index: 1;
}

nav .menu_toggle~ul a:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    transition: transform 0.2s;
    transform-origin: left;
    transform: scaleX(0);
    background-color: var(--color-under);
    z-index: 2;
}

nav .menu_toggle~ul li:hover:not(:has(li:hover))>a:after {
    transform: scaleX(1);
}