html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
}

body:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(-35deg, #9a12b3, #c5eff7);
    z-index: -1000;
}