.preview-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 50%)); */
  display: flex;
  flex-wrap: wrap;

  .sketch {
    border-radius: 5px;
    border: 1px solid var(--md-sys-color-outline);
    box-shadow: 1px 1px 3px var(--md-sys-color-outline);
    width: 500px;
    height: 500px;
  }

  .data-container {
    margin-left: var(--spacer);
    display: grid;
    grid-template-columns: repeat(2, 20ch);
    height: min-content;
  }
}
