.primary {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  outline-color: var(--md-sys-color-outline);
}

.primary-container {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  outline-color: var(--md-sys-color-outline);
}

.secondary {
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
  outline-color: var(--md-sys-color-outline);
}

.secondary-container {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  outline-color: var(--md-sys-color-outline);
}

.tertiary {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  outline-color: var(--md-sys-color-outline);
}

.tertiary-container {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
  outline-color: var(--md-sys-color-outline);
}

.error {
  background-color: var(--md-sys-color-error);
  color: var(--md-sys-color-on-error);
  outline-color: var(--md-sys-color-outline);
}

.error-container {
  background-color: var(--md-sys-color-error-container);
  color: var(--md-sys-color-on-error-container);
  outline-color: var(--md-sys-color-outline);
}

.surface {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  outline-color: var(--md-sys-color-outline);
}

.surface-container {
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
  outline-color: var(--md-sys-color-outline);
}

.display-large {
  font-family: var(--md-sys-typescale-display-large-font);
  font-weight: var(--md-sys-typescale-display-large-line-weight);
  font-size: var(--md-sys-typescale-display-large-size);
  font-optical-sizing: 57;
  letter-spacing: var(--md-sys-typescale-display-large-tracking);
  line-height: var(--md-sys-typescale-display-large-line-height);
}

.display-medium {
  font-family: var(--md-sys-typescale-display-medium-font);
  font-weight: var(--md-sys-typescale-display-medium-line-weight);
  font-size: var(--md-sys-typescale-display-medium-size);
  font-optical-sizing: 45;
  letter-spacing: var(--md-sys-typescale-display-medium-tracking);
  line-height: var(--md-sys-typescale-display-medium-line-height);
}

.display-small {
  font-family: var(--md-sys-typescale-display-small-font);
  font-weight: var(--md-sys-typescale-display-small-line-weight);
  font-size: var(--md-sys-typescale-display-small-size);
  font-optical-sizing: 36;
  letter-spacing: var(--md-sys-typescale-display-small-tracking);
  line-height: var(--md-sys-typescale-display-small-line-height);
}

.headline-large {
  font-family: var(--md-sys-typescale-headline-large-font);
  font-weight: var(--md-sys-typescale-headline-large-line-weight);
  font-size: var(--md-sys-typescale-headline-large-size);
  font-optical-sizing: 32;
  letter-spacing: var(--md-sys-typescale-headline-large-tracking);
  line-height: var(--md-sys-typescale-headline-large-line-height);
}

.headline-medium {
  font-family: var(--md-sys-typescale-headline-medium-font);
  font-weight: var(--md-sys-typescale-headline-medium-line-weight);
  font-size: var(--md-sys-typescale-headline-medium-size);
  font-optical-sizing: 28;
  letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
  line-height: var(--md-sys-typescale-headline-medium-line-height);
}

.headline-small {
  font-family: var(--md-sys-typescale-headline-small-font);
  font-weight: var(--md-sys-typescale-headline-small-line-weight);
  font-size: var(--md-sys-typescale-headline-small-size);
  font-optical-sizing: 24;
  letter-spacing: var(--md-sys-typescale-headline-small-tracking);
  line-height: var(--md-sys-typescale-headline-small-line-height);
}

.title-large {
  font-family: var(--md-sys-typescale-title-large-font);
  font-weight: var(--md-sys-typescale-title-large-line-weight);
  font-size: var(--md-sys-typescale-title-large-size);
  font-optical-sizing: 22;
  letter-spacing: var(--md-sys-typescale-title-large-tracking);
  line-height: var(--md-sys-typescale-title-large-line-height);
}

.title-medium {
  font-family: var(--md-sys-typescale-title-medium-font);
  font-weight: var(--md-sys-typescale-title-medium-line-weight);
  font-size: var(--md-sys-typescale-title-medium-size);
  font-optical-sizing: 16;
  letter-spacing: var(--md-sys-typescale-title-medium-tracking);
  line-height: var(--md-sys-typescale-title-medium-line-height);
}

.title-small {
  font-family: var(--md-sys-typescale-title-small-font);
  font-weight: var(--md-sys-typescale-title-small-line-weight);
  font-size: var(--md-sys-typescale-title-small-size);
  font-optical-sizing: 14;
  letter-spacing: var(--md-sys-typescale-title-small-tracking);
  line-height: var(--md-sys-typescale-title-small-line-height);
}

.body-large {
  font-family: var(--md-sys-typescale-body-large-font);
  font-weight: var(--md-sys-typescale-body-large-line-weight);
  font-size: var(--md-sys-typescale-body-large-size);
  font-optical-sizing: 16;
  letter-spacing: var(--md-sys-typescale-body-large-tracking);
  line-height: var(--md-sys-typescale-body-large-line-height);
}

.body-medium {
  font-family: var(--md-sys-typescale-body-medium-font);
  font-weight: var(--md-sys-typescale-body-medium-line-weight);
  font-size: var(--md-sys-typescale-body-medium-size);
  font-optical-sizing: 14;
  letter-spacing: var(--md-sys-typescale-body-medium-tracking);
  line-height: var(--md-sys-typescale-body-medium-line-height);
}

.body-small {
  font-family: var(--md-sys-typescale-body-small-font);
  font-weight: var(--md-sys-typescale-body-small-line-weight);
  font-size: var(--md-sys-typescale-body-small-size);
  font-optical-sizing: 12;
  letter-spacing: var(--md-sys-typescale-body-small-tracking);
  line-height: var(--md-sys-typescale-body-small-line-height);
}

.label-large {
  font-family: var(--md-sys-typescale-label-large-font);
  font-weight: var(--md-sys-typescale-label-large-line-weight);
  font-size: var(--md-sys-typescale-label-large-size);
  font-optical-sizing: 14;
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  line-height: var(--md-sys-typescale-label-large-line-height);
}

.label-medium {
  font-family: var(--md-sys-typescale-label-medium-font);
  font-weight: var(--md-sys-typescale-label-medium-line-weight);
  font-size: var(--md-sys-typescale-label-medium-size);
  font-optical-sizing: 12;
  letter-spacing: var(--md-sys-typescale-label-medium-tracking);
  line-height: var(--md-sys-typescale-label-medium-line-height);
}

.label-small {
  font-family: var(--md-sys-typescale-label-small-font);
  font-weight: var(--md-sys-typescale-label-small-line-weight);
  font-size: var(--md-sys-typescale-label-small-size);
  font-optical-sizing: 11;
  letter-spacing: var(--md-sys-typescale-label-small-tracking);
  line-height: var(--md-sys-typescale-label-small-line-height);
}

.text-container {
  max-width: min(75ch, 67en, 45em);
}
