// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400..500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@12..57,400..500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --hue-primary: 279deg;
  --chroma-primary: 25%;
  --hue-secondary: 240deg;
  --chroma-secondary: 25%;
  --hue-tertiary: 334deg;
  --chroma-tertiary: 25%;
  --hue-error: 15deg;
  --chroma-error: 50%;
  --hue-neutral: 259deg;
  --chroma-neutral: 5%;
  --hue-neutral-variant: 229deg;
  --chroma-neutral-variant: 2.5%;

  --state-opacity-hover: 8%;
  --state-opacity-focus: 10%;
  --state-opacity-press: 10%;
  --state-opacity-drag: 16%;

  --md-sys-color-primary: oklch(
    var(--tone-base)
    var(--chroma-primary)
    var(--hue-primary)
  );
  --md-sys-color-on-primary: oklch(
    var(--tone-on-base)
    var(--chroma-primary)
    var(--hue-primary)
  );
  --md-sys-color-primary-container: oklch(
    var(--tone-container)
    var(--chroma-primary)
    var(--hue-primary)
  );
  --md-sys-color-on-primary-container: oklch(
    var(--tone-on-container)
    var(--chroma-primary)
    var(--hue-primary)
  );
  --md-sys-color-secondary: oklch(
    var(--tone-base)
    var(--chroma-secondary)
    var(--hue-secondary)
  );
  --md-sys-color-on-secondary: oklch(
    var(--tone-on-base)
    var(--chroma-secondary)
    var(--hue-secondary)
  );
  --md-sys-color-secondary-container: oklch(
    var(--tone-container)
    var(--chroma-secondary)
    var(--hue-secondary)
  );
  --md-sys-color-on-secondary-container: oklch(
    var(--tone-on-container)
    var(--chroma-secondary)
    var(--hue-secondary)
  );
  --md-sys-color-tertiary: oklch(
    var(--tone-base)
    var(--chroma-tertiary)
    var(--hue-tertiary)
  );
  --md-sys-color-on-tertiary: oklch(
    var(--tone-on-base)
    var(--chroma-tertiary)
    var(--hue-tertiary)
  );
  --md-sys-color-tertiary-container: oklch(
    var(--tone-container)
    var(--chroma-tertiary)
    var(--hue-tertiary)
  );
  --md-sys-color-on-tertiary-container: oklch(
    var(--tone-on-container)
    var(--chroma-tertiary)
    var(--hue-tertiary)
  );
  --md-sys-color-error: oklch(
    var(--tone-base)
    var(--chroma-error)
    var(--hue-error)
  );
  --md-sys-color-on-error: oklch(
    var(--tone-on-base)
    var(--chroma-error)
    var(--hue-error)
  );
  --md-sys-color-error-container: oklch(
    var(--tone-container)
    var(--chroma-error)
    var(--hue-error)
  );
  --md-sys-color-on-error-container: oklch(
    var(--tone-on-container)
    var(--chroma-error)
    var(--hue-error)
  );
  --md-sys-color-surface-dim: oklch(
    var(--tone-surface-dim)
    var(--chroma-neutral)
    var(--hue-neutral)
  );
  --md-sys-color-surface: oklch(
    var(--tone-surface)
    var(--chroma-neutral)
    var(--hue-neutral)
  );
  --md-sys-color-surface-bright: oklch(
    var(--tone-surface-bright)
    var(--chroma-neutral)
    var(--hue-neutral)
  );
  --md-sys-color-surface-container-lowest: oklch(
    var(--tone-surface-container-lowest)
    var(--chroma-neutral)
    var(--hue-neutral)
  );
  --md-sys-color-surface-container-low: oklch(
    var(--tone-surface-container-low)
    var(--chroma-neutral)
    var(--hue-neutral)
  );
  --md-sys-color-surface-container: oklch(
    var(--tone-surface-container)
    var(--chroma-neutral)
    var(--hue-neutral)
  );
  --md-sys-color-surface-container-high: oklch(
    var(--tone-surface-container-high)
    var(--chroma-neutral)
    var(--hue-neutral)
  );
  --md-sys-color-surface-container-highest: oklch(
    var(--tone-surface-container-highest)
    var(--chroma-neutral)
    var(--hue-neutral)
  );
  --md-sys-color-on-surface: oklch(
    var(--tone-on-surface)
    var(--chroma-neutral)
    var(--hue-neutral)
  );
  --md-sys-color-on-surface-variant: oklch(
    var(--tone-on-surface-variant)
    var(--chroma-neutral-variant)
    var(--hue-neutral-variant)
  );
  --md-sys-color-outline: oklch(
    var(--tone-outline)
    var(--chroma-neutral-variant)
    var(--hue-neutral-variant)
  );
  --md-sys-color-outline-variant: oklch(
    var(--tone-outline-var)
    var(--chroma-neutral-variant)
    var(--hue-neutral-variant)
  );
  --target-size: 3rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --tone-base: 40%;
    --tone-on-base: 100%;
    --tone-container: 90%;
    --tone-on-container: 10%;
    --tone-surface-dim: 57%;
    --tone-surface: 98%;
    --tone-surface-bright: 98%;
    --tone-surface-container-lowest: 100%;
    --tone-surface-container-low: 96%;
    --tone-surface-container: 94%;
    --tone-surface-container-high: 92%;
    --tone-surface-container-highest: 90%;
    --tone-on-surface: 10%;
    --tone-on-surface-variant: 30%;
    --tone-outline: 50%;
    --tone-outline-var: 80%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --tone-base: 80%;
    --tone-on-base: 20%;
    --tone-container: 30%;
    --tone-on-container: 90%;
    --tone-surface-dim: 6%;
    --tone-surface: 6%;
    --tone-surface-bright: 24%;
    --tone-surface-container-lowest: 4%;
    --tone-surface-container-low: 10%;
    --tone-surface-container: 12%;
    --tone-surface-container-high: 17%;
    --tone-surface-container-highest: 22%;
    --tone-on-surface: 90%;
    --tone-on-surface-variant: 80%;
    --tone-outline: 60%;
    --tone-outline-var: 30%;
  }
}

:root {
  --md-ref-typeface-brand: "Dancing Script",
    "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-serif;
    --md-ref-typeface-plain: "Merienda",
    "Roboto Flex", 
    "Trebuchet MS", 
    "Lucida Sans Unicode",
    "Lucida Grande", 
    "Lucida Sans", 
    Arial, 
    sans-serif;
  --md-ref-typeface-weight-regular: 400;
  --md-ref-typeface-weight-medium: 500;
  --md-ref-typeface-weight-bold: 700;

  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-large-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-large-size: 3.5625rem;
  --md-sys-typescale-display-large-tracking: -0.015625rem;
  --md-sys-typescale-display-large-line-height: 4rem;

  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-medium-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-medium-size: 2.8125rem;
  --md-sys-typescale-display-medium-tracking: 0rem;
  --md-sys-typescale-display-medium-line-height: 3.25rem;

  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-small-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-small-size: 2.25rem;
  --md-sys-typescale-display-small-tracking: 0rem;
  --md-sys-typescale-display-small-line-height: 2.75rem;

  --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-large-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-large-size: 2rem;
  --md-sys-typescale-headline-large-tracking: 0rem;
  --md-sys-typescale-headline-large-line-height: 2.5rem;

  --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-medium-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-medium-size: 1.75rem;
  --md-sys-typescale-headline-medium-tracking: 0rem;
  --md-sys-typescale-headline-medium-line-height: 2.25rem;

  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-small-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-small-size: 1.5rem;
  --md-sys-typescale-headline-small-tracking: 0rem;
  --md-sys-typescale-headline-small-line-height: 2rem;

  --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-large-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-title-large-size: 1.375rem;
  --md-sys-typescale-title-large-tracking: 0rem;
  --md-sys-typescale-title-large-line-height: 1.75rem;

  --md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-medium-line-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-title-medium-size: 1rem;
  --md-sys-typescale-title-medium-tracking: 0.009375rem;
  --md-sys-typescale-title-medium-line-height: 1.5rem;

  --md-sys-typescale-title-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-small-line-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-title-small-size: 0.875rem;
  --md-sys-typescale-title-small-tracking: 0.00625rem;
  --md-sys-typescale-title-small-line-height: 1.25rem;

  --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-large-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-body-large-size: 1rem;
  --md-sys-typescale-body-large-tracking: 0.03125rem;
  --md-sys-typescale-body-large-line-height: 1.5rem;

  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-medium-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-body-medium-size: 0.875rem;
  --md-sys-typescale-body-medium-tracking: 0.015625rem;
  --md-sys-typescale-body-medium-line-height: 1.25rem;

  --md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-small-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-body-small-size: 0.75rem;
  --md-sys-typescale-body-small-tracking: 0.025rem;
  --md-sys-typescale-body-small-line-height: 1rem;

  --md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-large-line-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-label-large-line-weight-prominent: var(
    --md-ref-typeface-weight-bold
  );
  --md-sys-typescale-label-large-size: 0.875rem;
  --md-sys-typescale-label-large-tracking: 0.00625rem;
  --md-sys-typescale-label-large-line-height: 1.25rem;

  --md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-medium-line-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-label-medium-line-weight-prominent: var(
    --md-ref-typeface-weight-bold
  );
  --md-sys-typescale-label-medium-size: 0.75rem;
  --md-sys-typescale-label-medium-tracking: 0.03125rem;
  --md-sys-typescale-label-medium-line-height: 1rem;

  --md-sys-typescale-label-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-small-line-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-label-small-size: 0.6875rem;
  --md-sys-typescale-label-small-tracking: 0.03125rem;
  --md-sys-typescale-label-small-line-height: 1rem;
}

@media only screen and (max-width: 3.75in) {
  :root {
    --spacer: 0.1in;
  }
}

@media only screen and (min-width: 3.75in) and (max-width: 5.25in) {
  :root {
    --spacer: 0.15in;
  }
}

@media only screen and (min-width: 5.25in) {
  :root {
    --spacer: 0.15in;
  }
}

html {
  height: 100%;
}

body {
  margin: 0 var(--spacer);
  height: 100%;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}
