@use "sass:color";
@use "sass:math";
@use "./theme";
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400..500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@12..57,400..500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@font-face {
  font-family: "Monaspace Neon";
  src: url("/fonts/MonaspaceNeonVar.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Argon";
  src: url("/fonts/MonaspaceArgonVar.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Xeon";
  src: url("/fonts/MonaspaceXeonVar.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Radon";
  src: url("/fonts/MonaspaceRadonVar.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Krypton";
  src: url("/fonts/MonaspaceKryptonVar.woff2") format("woff2");
}

body {
  @include theme.themify {
    $primary: theme.themed("lavender");
    $secondary: theme.themed("mauve");
    $tertiary: theme.themed("blue");
    $error: theme.themed("red");
    $base: theme.themed("base");
    $text: theme.themed("text");
    $mix-base: 80%;
    $mix-container: 60%;
    --cpt-rosewater: #{theme.themed("rosewater")};
    --cpt-flamingo: #{theme.themed("flamingo")};
    --cpt-pink: #{theme.themed("pink")};
    --cpt-mauve: #{theme.themed("mauve")};
    --cpt-red: #{theme.themed("red")};
    --cpt-maroon: #{theme.themed("maroon")};
    --cpt-peach: #{theme.themed("peach")};
    --cpt-yellow: #{theme.themed("yellow")};
    --cpt-green: #{theme.themed("green")};
    --cpt-teal: #{theme.themed("teal")};
    --cpt-sky: #{theme.themed("sky")};
    --cpt-sapphire: #{theme.themed("sapphire")};
    --cpt-blue: #{theme.themed("blue")};
    --cpt-lavender: #{theme.themed("lavender")};
    --cpt-text: #{theme.themed("text")};
    --cpt-subtext0: #{theme.themed("subtext0")};
    --cpt-subtext1: #{theme.themed("subtext1")};
    --cpt-overlay0: #{theme.themed("overlay0")};
    --cpt-overlay1: #{theme.themed("overlay1")};
    --cpt-overlay2: #{theme.themed("overlay2")};
    --cpt-surface0: #{theme.themed("surface0")};
    --cpt-surface1: #{theme.themed("surface1")};
    --cpt-surface2: #{theme.themed("surface2")};
    --cpt-base: #{theme.themed("base")};
    --cpt-mantle: #{theme.themed("mantle")};
    --cpt-crust: #{theme.themed("crust")};
    --md-sys-color-primary: #{color.mix($base, $primary, $mix-base)};
    --md-sys-color-on-primary: #{$primary};
    --md-sys-color-primary-container: #{color.mix(
        theme.themed("surface0"),
        $primary,
        $mix-container
      )};
    --md-sys-color-on-primary-container: #{color.mix(
        $text,
        $primary,
        $mix-container
      )};
    --md-sys-color-secondary: #{color.mix($base, $secondary, $mix-base)};
    --md-sys-color-on-secondary: #{$secondary};
    --md-sys-color-secondary-container: #{color.mix(
        theme.themed("surface0"),
        $secondary,
        $mix-container
      )};
    --md-sys-color-on-secondary-container: #{color.mix(
        $text,
        $secondary,
        $mix-container
      )};
    --md-sys-color-tertiary: #{color.mix($base, $tertiary, $mix-base)};
    --md-sys-color-on-tertiary: #{$tertiary};
    --md-sys-color-tertiary-container: #{color.mix(
        theme.themed("surface0"),
        $tertiary,
        $mix-container
      )};
    --md-sys-color-on-tertiary-container: #{color.mix(
        $text,
        $tertiary,
        $mix-container
      )};
    --md-sys-color-error: #{color.mix($base, $error, $mix-base)};
    --md-sys-color-on-error: #{$error};
    --md-sys-color-error-container: #{color.mix(
        theme.themed("surface0"),
        $error,
        $mix-container
      )};
    --md-sys-color-on-error-container: #{color.mix(
        $text,
        $error,
        $mix-container
      )};
    --md-sys-color-surface-dim: #{theme.themed("crust")};
    --md-sys-color-surface: #{theme.themed("base")};
    --md-sys-color-surface-bright: #{theme.themed("mantle")};
    --md-sys-color-surface-container-lowest: #{theme.themed("surface0")};
    --md-sys-color-surface-container-low: #{color.mix(
        theme.themed("surface0"),
        theme.themed("surface1")
      )};
    --md-sys-color-surface-container: #{theme.themed("surface1")};
    --md-sys-color-surface-container-high: #{color.mix(
        theme.themed("surface1"),
        theme.themed("surface2")
      )};
    --md-sys-color-surface-container-highest: #{theme.themed("surface2")};
    --md-sys-color-on-surface: #{$text};
    --md-sys-color-on-surface-variant: #{theme.themed("subtext0")};
    --md-sys-color-outline: #{theme.themed("overlay0")};
    --md-sys-color-outline-variant: #{theme.themed("overlay1")};

    --hue-primary: #{color.hue($primary)};
    --hue-secondary: #{color.hue($secondary)};
    --hue-tertiary: #{color.hue($tertiary)};
    --hue-error: #{color.hue($error)};
    --hue-neutral: #{color.hue($base)};
    --hue-neutral-variant: #{color.hue($text)};
    --chroma-primary: #{color.saturation(color.mix($base, $primary, $mix-base))};
    --chroma-secondary: #{color.saturation(
        color.mix($base, $secondary, $mix-base)
      )};
    --chroma-tertiary: #{color.saturation(
        color.mix($base, $tertiary, $mix-base)
      )};
    --chroma-error: #{color.saturation(color.mix($base, $error, $mix-base))};
    --chroma-neutral: #{color.saturation($base)};
    --chroma-neutral-variant: #{color.saturation($text)};
    --tone-base: #{color.lightness($base) * math.div($mix-base, 100%) +
      color.lightness($primary) * (1 - math.div($mix-base, 100%))};
    --tone-on-base: #{color.lightness($primary)};
    --tone-container: #{color.lightness(theme.themed("surface0")) *
      math.div($mix-container, 100%) + color.lightness($primary) *
      (1 - math.div($mix-container, 100%))};
    --tone-on-container: #{color.lightness($text) *
      math.div($mix-container, 100%) + color.lightness($primary) *
      (1 - math.div($mix-container, 100%))};
    --tone-surface-dim: #{color.lightness(theme.themed("crust"))};
    --tone-surface: #{color.lightness(theme.themed("base"))};
    --tone-surface-bright: #{color.lightness(theme.themed("mantle"))};
    --tone-surface-container-lowest: #{color.lightness(theme.themed("surface0"))};
    --tone-surface-container-low: #{color.lightness(theme.themed("surface1")) *
      0.5 + color.lightness(theme.themed("surface0")) * 0.5};
    --tone-surface-container: #{color.lightness(theme.themed("surface1"))};
    --tone-surface-container-high: #{color.lightness(theme.themed("surface2")) *
      0.5 + color.lightness(theme.themed("surface1")) * 0.5};
    --tone-surface-container-highest: #{color.lightness(
        theme.themed("surface2")
      )};
    --tone-on-surface: #{color.lightness($text)};
    --tone-on-surface-variant: #{color.lightness(theme.themed("subtext0"))};
    --tone-outline: #{color.lightness(theme.themed("overlay0"))};
    --tone-outline-var: #{color.lightness(theme.themed("overlay1"))};
  }
  --state-opacity-hover: 8%;
  --state-opacity-focus: 10%;
  --state-opacity-press: 10%;
  --state-opacity-drag: 16%;
  --target-size: 3rem;

  --md-ref-typeface-brand: "Monaspace Krypton", monospace;
  --md-ref-typeface-plain: "Monaspace Krypton", monospace;
  --md-ref-typeface-weight-regular: 400;
  --md-ref-typeface-weight-medium: 500;
  --md-ref-typeface-weight-bold: 700;

  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-large-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-large-size: 3.5625rem;
  --md-sys-typescale-display-large-tracking: -0.015625rem;
  --md-sys-typescale-display-large-line-height: 4rem;

  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-medium-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-medium-size: 2.8125rem;
  --md-sys-typescale-display-medium-tracking: 0rem;
  --md-sys-typescale-display-medium-line-height: 3.25rem;

  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-small-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-small-size: 2.25rem;
  --md-sys-typescale-display-small-tracking: 0rem;
  --md-sys-typescale-display-small-line-height: 2.75rem;

  --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-large-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-large-size: 2rem;
  --md-sys-typescale-headline-large-tracking: 0rem;
  --md-sys-typescale-headline-large-line-height: 2.5rem;

  --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-medium-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-medium-size: 1.75rem;
  --md-sys-typescale-headline-medium-tracking: 0rem;
  --md-sys-typescale-headline-medium-line-height: 2.25rem;

  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-small-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-small-size: 1.5rem;
  --md-sys-typescale-headline-small-tracking: 0rem;
  --md-sys-typescale-headline-small-line-height: 2rem;

  --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-large-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-title-large-size: 1.375rem;
  --md-sys-typescale-title-large-tracking: 0rem;
  --md-sys-typescale-title-large-line-height: 1.75rem;

  --md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-medium-line-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-title-medium-size: 1rem;
  --md-sys-typescale-title-medium-tracking: 0.009375rem;
  --md-sys-typescale-title-medium-line-height: 1.5rem;

  --md-sys-typescale-title-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-small-line-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-title-small-size: 0.875rem;
  --md-sys-typescale-title-small-tracking: 0.00625rem;
  --md-sys-typescale-title-small-line-height: 1.25rem;

  --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-large-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-body-large-size: 1rem;
  --md-sys-typescale-body-large-tracking: 0.03125rem;
  --md-sys-typescale-body-large-line-height: 1.5rem;

  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-medium-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-body-medium-size: 0.875rem;
  --md-sys-typescale-body-medium-tracking: 0.015625rem;
  --md-sys-typescale-body-medium-line-height: 1.25rem;

  --md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-small-line-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-body-small-size: 0.75rem;
  --md-sys-typescale-body-small-tracking: 0.025rem;
  --md-sys-typescale-body-small-line-height: 1rem;

  --md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-large-line-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-label-large-line-weight-prominent: var(
    --md-ref-typeface-weight-bold
  );
  --md-sys-typescale-label-large-size: 0.875rem;
  --md-sys-typescale-label-large-tracking: 0.00625rem;
  --md-sys-typescale-label-large-line-height: 1.25rem;

  --md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-medium-line-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-label-medium-line-weight-prominent: var(
    --md-ref-typeface-weight-bold
  );
  --md-sys-typescale-label-medium-size: 0.75rem;
  --md-sys-typescale-label-medium-tracking: 0.03125rem;
  --md-sys-typescale-label-medium-line-height: 1rem;

  --md-sys-typescale-label-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-small-line-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-label-small-size: 0.6875rem;
  --md-sys-typescale-label-small-tracking: 0.03125rem;
  --md-sys-typescale-label-small-line-height: 1rem;
}

@media only screen and (max-width: 3.75in) {
  :root {
    --spacer: 0.1in;
  }
}

@media only screen and (min-width: 3.75in) and (max-width: 5.25in) {
  :root {
    --spacer: 0.15in;
  }
}

@media only screen and (min-width: 5.25in) {
  :root {
    --spacer: 0.15in;
  }
}

html {
  height: 100%;
}

body {
  margin: 0 var(--spacer);
  height: 100%;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}
